.about-container {
    width: 100%;
    height: max-content; 
    overflow: hidden;
}

.about-header {
    margin-top: 200px;
    h1 {
        font-size: 2rem;
        letter-spacing: 5px;
        margin-bottom: 30px;
    }
}

.about-content {
    display: flex;
    justify-content: space-between;
    .about-col1 {
        width: 60%;
    }
    .about-col2 {
        width: 26%;
        height: max-content;
        padding: 0 40px;
        border-radius: 15px;
        // background-image: linear-gradient(to top right, rgba(0, 0, 0, .05), rgba(0, 0, 0, .001));
        background-color: rgba(0, 0, 0, .05);  
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    }
}

.about-section {
    margin-bottom: 80px;
    h2 {
        padding-bottom: 20px;
        border-bottom: 1px solid #CDCDCD;
        margin-bottom: 0;
    }
    h3 {
        display: inline-block;
        color: #E96D2F;
        margin-right: 25px;
        margin-bottom: 0;
    }
    span {
        color: #787878;
        display: inline-block;
        margin-top: 16px;
    }
    p {
        margin-top: 11px;
    }
    ul {
        list-style: none; /* Remove default bullets */
        padding-left: 20px;
    }
    ul li::before {
        content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: #E96D2F; /* Change the color */
        font-weight: 700; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
    }
}

@media screen and (max-width: 768px) {
    .about-content {
        flex-direction: column;
        .about-col1 {
            width: 100%;
        }
        .about-col2 {
            width: 100%;
            padding: 0 0;
            border-radius: 0px;
            background-color: unset;  
            box-shadow: unset;
        }
    }
}

.about-proj-link {
    color: black;
    &:hover{
        color:#E96D2F;
    }
}

.about-slant {
    position: absolute;
    top: 0;
    width: 100%;
    height: 75%;
    background-image: linear-gradient(to top right, #FDFDFD, #D5D5D5);
    transform-origin: left bottom;
    transform: skewY(-10deg);
    z-index: -1;
}