@mixin displayFlex($dir: row, $j: flex-start, $a: center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $j;
    align-items: $a;
}

@mixin imgSplit($triple: false, $w1: 0, $w2: 0, $w3: 0) {
    @include displayFlex(0, space-between, 0);
    @if $triple {
        img:nth-child(1) {
            width: $w1;
        }
        img:nth-child(2) {
            width: $w2;
        }
        img:nth-child(3) {
            width: $w3;
        }
    } @else {
        img {
            width: 49%;
        }
    }
}

@mixin colorSection() {
    margin-bottom: $marginBottomLg;
}

.proj-section-header {
    border-bottom: 1px solid #D5D5D5;
    padding-bottom: 10px;
}

.img-split {
    @include imgSplit();
    margin-bottom: $marginBottomLg;
}

.proj-hero {
    height: 100vh;
    @include displayFlex(column, center, flex-start);
    img {
        width: 400px;
    }
    p {
        margin-top: 30px;
        color: #343434;
    }
}

.breakdown {
    @include displayFlex(column, flex-start , flex-start);
    margin-bottom: $marginBottomLg;
    p {
        font-size: 1.1rem;
        line-height: 2.125rem;
    }
}

@media screen and (min-width: 768px) {
    .breakdown {
        flex-direction: row;
    }
    .breakdown-1 {
        white-space: nowrap;
    }
    .breakdown-2 {
        margin-left: 70px;
    }
}

.banner {
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 29%;
    // background-position-y: 50%;
    margin-bottom: $marginBottomXLg;
    position: relative;
}

.logo-breakdown {
    @include displayFlex(column, center, center);
    margin-bottom: $marginBottomXLg;
}

.styleguide-container {
    @include displayFlex(row, space-between, flex-start);
    img:nth-child(1) {
        width: 41%;
    }
    img:nth-child(2) {
        width: 53%;
    }
}

@media screen and (max-width: 768px) {
    .styleguide-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img:nth-child(1) {
            width: 450px;
            margin-bottom: $marginBottomSm;
        }
        img:nth-child(2) {
            width: 450px;
        }
    }
}
