@mixin displayFlex($dir: row, $j: flex-start, $a: center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $j;
    align-items: $a;
}

.section-title {
    letter-spacing: 3px;
    color: white;
}

// Hero

.home {
    width: 100%;
    height: max-content; 
    background-image: linear-gradient(to top right, #181818, #343434);
    overflow: hidden;
}

.hero {
    height: 100vh;
    min-height: 800px;
    max-height: 1100px;
    width: 100%;
    color: white;
    position: relative;
    @include displayFlex(0, flex-start, center);
    h1 {
        font-size: 3rem;
        letter-spacing: 5px;
    }
    p {
        max-width: 450px;
    }
}

.hero-wrapper {
    width: 100%;
    position: relative;
    @include displayFlex(0, space-between, center);
    z-index: 2;
}

.hero-mockup {
    max-width: 1000px;
    padding-top: 100px;
    height: max-content;
    position: absolute;
    right: -120px;
    display: flex;
    align-items: flex-end;
}

.mockup-wrapper {
    position: relative;
}

.mac-mockup {
    z-index: 1;
    // background-color: red;
}

.mobile-mockup {
    margin-left: -10%;
    z-index: 2;
}

.mockup-demo {
    position: absolute;
    overflow: hidden;
    z-index: -1;
    video {
        width: 100%;
        height: 100%;
    }
}

.mac-demo {
    height: 66%;
    width: 62%;
    right: 7%;
    top: 5.5%;
    transform: perspective(400px) rotateY(-10.5deg);
    border-radius: 10px 10px 0 0;
    background-color: white;
}

.phone-demo {
    height: 92%;
    width: 83%;
    right: 2%;
    top: 2.3%;
    transform: perspective(400px) rotateY(5deg);
    border-radius: 22px;
    background-color: #f0f0f0;
}

@media screen and (max-width: 1125px) {
    .hero-mockup {
        max-width: 640px;
        right: 20px;
        top: -100px;
    }
    .mac-demo {
        height: 65%;
        width: 63%;
        right: 6%;
        top: 6%;
        transform: perspective(400px) rotateY(-15deg);
        border-radius: 5px 5px 0 0;
    }

    .phone-demo {
        height: 91.5%;
        top: 2.5%;
        transform: perspective(400px) rotateY(8deg);
        border-radius: 15px;
    }
}

@media screen and (max-width: 992px) {
    .hero-intro {
        margin-bottom: 150px;
    }
    .hero-wrapper {
        flex-direction: column;
        position: unset;
    }
    .hero-mockup {
        bottom: 0;
        top: unset;
    }
}

@media screen and (max-width: 674px) {
    .mac-demo {
        transform: perspective(60vw) rotateY(-15deg);
        border-radius: 0px;
    }
    .phone-demo {
        transform: perspective(60vw) rotateY(8deg);
        border-radius: 2vw;
    }
}

// Background Intro

.bg-intro {
    height: max-content;
    color: white;
    margin-bottom: 150px;
    @include displayFlex(row, space-between, flex-start);
    // background-color: black;
}

.bg-intro-p {
    max-width: 550px;
}


.bg-intro-anim {
    margin-left: 100px;
    margin-right: -250px;
    margin-top: -250px;
    opacity: 0.08;
    // background-color: grey;
}

.dev-anim {
    width: 700px;
}

@media screen and (max-width: 992px) {
    .bg-intro {
        flex-direction: column;
        align-items: flex-end;
    }
    .bg-intro-p {
        max-width: unset;
        order: 2;
    }
    .bg-intro-anim {
        margin-left: 0;
        margin-right: 0;
        margin-top: -125px;
        margin-bottom: 50px;
    }
    .dev-anim {
        width: unset;
        max-width: 500px;
    }
}

@media screen and (max-width: 600px) {
    .bg-intro-anim {
        margin-top: -70px;
    }
    .dev-anim {
        transform: scaleX(-1);
    }
}

.bg-logo {
    width: 40px;
    margin-right: 50px;
}


// Tools section

.tools-section { 
    max-width: 770px;   
    @include displayFlex(row, space-between, flex-start);
    color: white; 
    margin-bottom: 150px;
    // background-color: aquamarine; 
}

.tool-category {
    width: 30%; 
    @include displayFlex(column, center, center);
    // background-color: blue;
    text-align: center;
    .tool-icon-wrapper {
        height: 100px;
        margin-bottom: 35px;
    }
    .tool-icon {
        height: 100%;
    }
    h1 {
        letter-spacing: 2px;
        font-size: 1.4rem;
    }
    .tools-inline {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .tools-section {
        flex-direction: column;
    }
    .tool-category {
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        margin-bottom: 50px;
        .tool-icon {
            width: 100px;
            min-width: 100px;
            margin-bottom: 0;
            margin-right: 50px;
        }   
        p {
            margin-bottom: 0;
        }
        .tools-stacked {
            display: none;
        }
        .tools-inline {
            display: block;
        }
    }
}


// Projects Section

.projects-title {
    h1 {
        margin: 50px 0;
        text-align: center;
    }
}


// Home About

.home-about {
    @include displayFlex(row, space-between, center);
    img {
        max-width: 350px;
        margin-bottom: -14.5px;
    }
}