@mixin displayFlex($dir: row, $j: flex-start, $a: center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $j;
    align-items: $a;
}

.section-title {
    letter-spacing: 3px;
}

.home {
    width: 100%;
    height: max-content; 
    background-image: linear-gradient(to top right, #181818, #343434);
    overflow: hidden;
}

.hero {
    height: 100vh;
    min-height: 700px;
    max-height: 1120px;
    width: 100%;
    color: white;
    @include displayFlex(0, flex-start, center);
    position: relative;
    // margin-bottom: 100px;
    h1 {
        font-size: 3rem;
        letter-spacing: 5px;
    }
    p {
        max-width: 450px;
    }
}

.hero-wrapper {
    width: 100%;
    position: relative;
    @include displayFlex(0, space-between, center);
    z-index: 2;
}

.hero-mockup {
    max-width: 1000px;
    padding-top: 100px;
    height: max-content;
    position: absolute;
    right: -120px;
    display: flex;
    align-items: flex-end;
}

.mockup-wrapper {
    position: relative;
}

.mac-mockup {
    z-index: 1;
    // background-color: red;
}

.mobile-mockup {
    margin-left: -10%;
    z-index: 2;
}

.mockup-demo {
    position: absolute;
    overflow: hidden;
    z-index: -1;
    video {
        width: 100%;
        height: 100%;
    }
}

.mac-demo {
    height: 66%;
    width: 62%;
    right: 7%;
    top: 5.5%;
    transform: perspective(400px) rotateY(-10.5deg);
    // transform: perspective(400px) rotateY(-20deg);
    border-radius: 10px 10px 0 0;
    background-color: white;
}

.phone-demo {
    height: 92%;
    width: 83%;
    right: 2%;
    top: 2.3%;
    transform: perspective(400px) rotateY(5deg);
    border-radius: 22px;
    background-color: #f0f0f0;
}


@media screen and (max-width: 1125px) {
    .hero-mockup {
        max-width: 640px;
        right: 20px;
    }
    .mac-demo {
        height: 65%;
        width: 63%;
        right: 6%;
        top: 6%;
        transform: perspective(400px) rotateY(-15deg);
        border-radius: 5px 5px 0 0;
    }

    .phone-demo {
        height: 91.5%;
        top: 2.5%;
        transform: perspective(400px) rotateY(8deg);
        border-radius: 15px;
    }
}

@media screen and (max-width: 992px) {
    .hero-intro {
        margin-bottom: 150px;
    }
    .hero-wrapper {
        flex-direction: column;
        position: unset;
    }
    .hero-mockup {
        bottom: 0;
    }
}

@media screen and (max-width: 674px) {
    .mac-demo {
        transform: perspective(60vw) rotateY(-15deg);
        border-radius: 0px;
    }

    .phone-demo {
        transform: perspective(60vw) rotateY(8deg);
        border-radius: 2vw;
    }
}




// .dev-anim {
//     position: absolute;
//     width: 700px;
//     right: 200px;
//     bottom: -200px;
//     opacity: 0.05;
//     transform: scaleX(-1);
// }


.animation-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 40px;
    height: max-content;
    // background-color: black;
    @include displayFlex(row, space-between, center);
} 

.pepi-anim {
    width: 300px;
}

.dev-wrapper {
    // background-color: blue;
    position: absolute;
    right: -250px;
    top: -250px;
}

.dev-anim {
    width: 700px;
    opacity: 0.08;
}
























.nextbtn {
    width: 50px;
    position: absolute;
    right: -50px;
}

.next-btn {
    width: 45px;
    height: 45px;
}


.dev-anim-wrapper {
    height: 421px;
    margin-top: -60px;
    position: relative;
    margin-bottom: 100px;
    @include displayFlex(column, flex-end, flex-end);
}




.background {
    @include displayFlex(0, space-between, center);
    color: white;
    margin-bottom: 200px;
    // background-color: red;
    position: relative;
    z-index: 1;
}

.background-content {
    // border-left: 1px solid grey;
    // padding-left: 50px;
    h1 {
        margin-top: -10px;
    }
    p {
        width: 50%;
        color: white;
        margin-bottom: 0px;
    }
}

.bg-logo {
    width: 40px;
    margin-right: 50px;
}


.tools-section { 
    max-width: 770px;   
    @include displayFlex(row, space-between, flex-start);
    color: white; 
    // background-color: aquamarine; 
}

.tool-category {
    width: 30%; 
    @include displayFlex(column, center, center);
    // background-color: blue;
    text-align: center;
    .tool-icon {
        height: 100px;
        margin-bottom: 35px;
    }
    h1 {
        letter-spacing: 2px;
        font-size: 1.4rem;
    }
    .tools-inline {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .tools-section {
        flex-direction: column;
    }
    .tool-category {
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        margin-bottom: 50px;
        .tool-icon {
            width: 100px;
            min-width: 100px;
            margin-bottom: 0;
            margin-right: 50px;
        }   
        p {
            margin-bottom: 0;
        }
        .tools-stacked {
            display: none;
        }
        .tools-inline {
            display: block;
        }
    }
}


// @media screen and (max-width: 500px) {
//     .sm-header {
//         font-size: 1.2rem;
//     }
// }