@mixin displayFlex($dir: row, $j: flex-start, $a: center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $j;
    align-items: $a;
}

.section-title {
    letter-spacing: 3px;
    color: #5E5E5E;
}

// at 768 go straight into mobile FOR ALL PAGES. Fixed heights for heros. Fixed heights for ALL 

.hero-wrapper {
    height: max-content;
    width: 100%;
    position: relative;
}

.hero2 {
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    position: relative;
    // background-color: red;
    margin-bottom: 180px;
}

.hero-slant {
    position: absolute;
    top: 0;
    width: 100%;
    height: 75%;
    background-image: linear-gradient(to top right, #FDFDFD, #D5D5D5);
    transform-origin: left bottom;
    transform: skewY(-10deg);
    z-index: -1;
}

.hero-content {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-intro {
    color: #5E5E5E;
    // background-color: lightblue;
    h1 {
        font-size: 2.5rem;
        letter-spacing: 5px;
    }
    p {
        max-width: 450px;
    }
}

.hero-mockup2 {
    max-width: 950px;
    position: absolute;
    right: -250px;

}


.dev-anim2 {
    position: absolute;
    right: 0;
    top: 200px;
    max-width: 550px;
    transform: scaleX(-1);
    z-index: -1;
    opacity: 0.5;
}

@media screen and (max-width: 1100px) {
    .hero-mockup2 {
        max-width: 85vw;
        right: -280px;
    }
}

@media screen and (max-width: 768px) {
    .hero2 {
        height: max-content;
        padding-top: 200px;
        justify-content: unset;
        align-items: unset;
        margin-bottom: 60px;
    } 
    .hero-slant {
        height: 65%;
    }
    .hero-content {
        flex-direction: column;
        justify-content: unset;
        align-items: center;
    }
    .hero-mockup2 {
        position: unset;
        max-width: 100%;
        margin-right: -20px;
        margin-top: 50px;
    }
    .dev-anim2 {
        position: unset;
        margin-top: -25vw;
    }
}


.intro2 {
    height: max-content; 
    display: flex;
    color: #5E5E5E;
    margin-bottom: 200px;
    h1 {
        white-space: nowrap;
        margin-right: 50px;
        margin-top: 16px;
    }
}

@media screen and (max-width: 992px) {
    .intro2 {
        flex-direction: column;
        h1 {
            white-space: unset;
            margin-right: 0px;
            margin-top: 0px;
        }
    }
}

@media screen and (max-width: 768px) {
    .intro2 {
        margin-bottom: 80px;
    }
}


// Tools section

.tools-section { 
    color: #5E5E5E;
    max-width: 770px;   
    @include displayFlex(row, space-between, flex-start);
    // background-color: aquamarine; 
}

.tool-category {
    width: 30%; 
    @include displayFlex(column, center, center);
    // background-color: blue;
    text-align: center;
    .tool-icon-wrapper {
        height: 90px;
        margin-bottom: 35px;
    }
    .tool-icon {
        height: 100%;
    }
    h1 {
        letter-spacing: 2px;
        font-size: 1.4rem;
    }
    .tools-inline {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .tools-section {
        flex-direction: column;
    }
    .tool-category {
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        margin-bottom: 30px;
        .tool-icon-wrapper {
            margin-bottom: 0px;
        }
        .tool-icon {
            width: 80px;
            min-width: 80px;
            margin-bottom: 0;
            margin-right: 30px;
        }   
        p {
            margin-bottom: 0;
        }
        .tools-stacked {
            display: none;
        }
        .tools-inline {
            margin: 0;
            display: block;
        }
    }
}