.home {
    width: 100%;
    height: max-content; 
    background-image: linear-gradient(to top right, #090909, #212121);
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.p-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 100px;
}


/* Hero */


.hero {
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    /* background-color: #343434; */
}

.hero-anim {    
    width: 670px;
    opacity: 0.05;
    position: absolute;
    right: 15vw;
}

.hero-content {
    flex: 1;
    height: max-content; 
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;    
    /* background-color: #E74949; */
}

.hero-intro h1 {
    font-size: 8rem;
}

#lastName {
    margin-top: -30px;
}

#introDesc {
    width: 55%;
}

.round-btn {
    margin-top: 20px;
    border: none;
    padding: .5em 1.50em;
    border-radius: 50px;
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    background-color: #E74949;
    color: white;
}

.designer-title {
    writing-mode:vertical-rl;
    text-align: right;
}

.developer-title {
    writing-mode:vertical-rl;
    text-align: left;
}

#plus {
    margin: 10px 0 10px 10px;
}


@media screen and (max-width: 800px) {
    .hero-anim {
        right: 0;
    }
    .hero-content {
        height: 600px;
    }
    .hero-intro h1 {
        font-size: 16vw;
    }
    #lastName {
        margin-top: -4vw;
    }
    .hero-content {
        flex-direction: column;
    }
    .hero-titles {
        align-self: flex-end;
    }
    .designer-title {
        writing-mode: horizontal-tb;
    } 
    .developer-title {
        writing-mode: horizontal-tb;
        text-align: right;
    }
    #plus {
        text-align: right;
    }
}


/* Slide */


.slide {
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    /* background-color: black; */
}

.mac-container {
    flex: 1;
    margin-left: -105px;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;    
    /* background-color: red; */
}

.mac-container img {
    width: 100%;
}

.demo {
    width: 75%;
    height: 80%;
    margin-top: -1vw;
    border-radius: 12px;
    position: absolute;
    overflow: hidden;    
    /* background-color: aquamarine; */
}

.demo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    width: 340px; 
    height: 250px;
    color: white;
    display: flex; 
    flex-direction: column; 
    position: relative;
    /* background-color: blue; */
}

.title-container {
    height: 120px; 
    width: 100%;
    display: flex;
    align-items: center;
}


#cardArrow {
    width: 20px; 
    float: right;

}

.load-bar {
    height: 8px;
    width: 0px;
    background-color: black;
    border-radius: 20px;
    transition: 5s ease;
    animation: changewidth 10s linear infinite;
    position: absolute;
    bottom: 0;

}

@keyframes changewidth {
    from {
      width: 0px;
    }
  
    to {
      width: 100%;
    }
  }


@media screen and (max-width: 800px) {
    .slide {
        flex-direction: column;
        justify-content: center;
    }
    .mac-container {
        margin-left: 0;
    }
    .card p {
        text-align: center;
    }
    .title-container {
        justify-content: center;
    }
}


/* Background Anim */


.background {
    height: 650px;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    line-height: 35px;
    /* background-color: black; */
}

#background-logo {
    width: 50px;
    margin-bottom: 30px;
}

.background-text {
    width: 80%;
}

.dev-anim {
    opacity: 0.04;
    height: 100%;
    position: absolute;
}

@media screen and (max-width: 800px) {
    .background {
        height: 550px;
    }
}


/* Tools */


.tools { 
    margin-top: 50px;
    height: 500px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    color: white; 
    /* background-color: #E74949; */
}

.section-title {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 3rem;
}

.tools-content {
    width: 70%;   
    height: max-content;  
    display: flex;
    justify-content: space-between;    
    /* background-color: aquamarine; */
}

.tool-category {
    width: 30%; 
    display: flex;
    flex-direction: column;
    align-items: center;    
    /* background-color: #E74949; */
}

.tool-icon {
    height: 150px;
    margin-bottom: 35px;
}

.sm-header {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
    font-size: 1.4rem;
}

.tool-content p {
    display: none;
}

.tools-list {
    padding: 0;
    color: white; 
    list-style-type: none;
    text-align: center;
}

.tools-list li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
    .tools {
        margin-top: 0;
    }
    .tools-content {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .tools-content {
        flex-direction: column;
    }
    .tool-category {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center ;
    }
    .tool-icon {
        width: 22%;
        margin-bottom: 0;
    }
    .tool-content {
        margin-left: 30px;
        width: 50%;
    }
    .tool-content p {
        display: block;
    }
    .tools-list {
        display: none;
    }
}


/* Projects */


.project {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.home2 {
    width: 100%;
    height: max-content; 
    background-color: white;
}

.projects-grid {
    max-width: 900px;
    height: max-content; 
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
}


/* Testimonials  */


.testimonials {
    height: 500px; 
    display: flex;
    justify-content: space-between;
    /* background-color: red; */

}

.testimonial-card {
    width: 24%; 
    height: max-content;
    border-radius: 10px;
    color: white;
    padding: 30px;    
    background-color: #232323;
}

.testimonial-card img {
    height: 30px; 
    width: 30px;
    float: right;
}

.testimonial-card h1 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.underline {
    height: 2px; 
    width: 100%;
    background-color: #E74949;
}

@media screen and (max-width: 800px) {
    .testimonials {
        height: max-content;
        flex-direction: column;
        align-items: center;
    }
    .testimonial-card {
        width: 65%;
        margin-bottom: 35px;
    }
}


/* About */


.about-container {
    display: flex;
    justify-content: space-between;
}

.about-title {
    color: black;
}

.about-text-container {
    width: 67%;
}

.about-container img {
    margin-top: 40px;
    margin-right: -10px;
    width: 320px;
    height: auto;
    /* background-color: red; */
}

@media screen and (max-width: 800px) {
    .about-container {
        flex-direction: column;
        align-items: center;
    }
    .about-text-container {
        width: 90%;
    }
    .about-container img {
        width: 40vw;
    }
}



.home3 {
    margin-top: -13.1px;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to top right, #121212, #212121);
}




