.home {
    width: 100%;
    height: max-content; 
    background-image: linear-gradient(to top right, #121212, #212121);
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.nav-bar {
    height: 100px; 
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navlogo {
    height: 40%;
}

.nav {
    display: flex;
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: white; 
    margin-left: 30px;
}

.hero {
    height: calc(100vh - 100px);
    width: 100%;
    /* background-color: #343434; */
    display: flex;
    align-items: center;
}

.hero-text-container {
    width: 1200px;
    height: 500px; 
    /* background-color: black; */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;

}

.hero-text-container .intro h1 {
    font-size: 8rem;
}

#lastName {
    margin-top: -30px;
}

#introDesc {
    width: 55%;
}

.design-container {
    writing-mode:vertical-rl;
    text-align: right;
}

.develop-container {
    writing-mode:vertical-rl;
    text-align: left;
}

#plus {
    margin: 10px 0 10px 10px;
}

.hero-anim-wrapper {
    position: absolute;
    width: 1200px;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 900px; 
}

.des-anim {
    width: 670px;
    float: right;
    margin-right: 70px;
    opacity: 0.05;
}

.round-btn {
    margin-top: 20px;
    border: none;
    padding: .5em 1.50em;
    border-radius: 50px;
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    background-color: #E74949;
    color: white;
}




.slide {
    height: max-content;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* overflow: hidden; */
}

.mac-container {
    width: 1200px;
    height: max-content;
    margin-right: -425px;
    /* background-color: red; */
    /* overflow: hidden; */
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative;
}

.mac-container img {
    width: 100%;
}

.demo {
    width: 75%;
    height: 80%;
    margin-top: -1vw;
    border-radius: 10px;
    background-color: aquamarine;
    position: absolute;
}

.demo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    width: 380px; 
    height: 300px;
    margin-right: -145px;
    padding: 100px 90px;
    border-radius: 15px 0 0 15px;
    background-color: #2A2A2A;
    color: white;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    position: relative;
}

#cardTitle {
    width: 50%;
    /* margin-bottom: 20px; */
}

#cardArrow {
    width: 20px; 
    float: right;
    align-self: flex-end;
}

.load-bar {
    height: 8px;
    width: 0px;
    background-color: black;
    border-radius: 20px;
    transition: 5s ease;
    animation-name: changewidth;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

@keyframes changewidth {
    from {
      width: 0px;
    }
  
    to {
      width: 100%;
    }
  }





.project-slide {
    margin-top: 50px;
    height: 585px;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: black; */
}

.macbook-container {
    width: 85%; 
    height: 100%;
    margin-left: -93px;
    margin-bottom: -25px;
    background-image: url('../images/macbook.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: aquamarine;
}

.site {
    width: 77.5%;
    height: 35vw; 
    margin-top: -2.5vw;
    background-color: red;
    border-radius: 12px;
    overflow: hidden;
}

.site video {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.project-card {
    flex: 1;
    height: 100%;
    padding: 50px 0px 50px 30px;
    box-sizing: border-box;
    margin-left: -105px; 
    /* background-color: #2A2A2A; */
    border-radius: 0px 12px 12px 0;
    z-index: 1;

}

.anim-wrapper {
    height: 506px; 
    margin: 0 auto;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.background-intro {
    display: flex; 
    flex-direction: column;
    align-items: center;
}


#background-logo {
    width: 50px;
    margin-bottom: 30px;
}

.background-text {
    text-align: center;
    color: white;
    font-size: 1.2rem;
    line-height: 35px;
    width: 80%;
}

.dev-anim {
    opacity: 0.06;
    width: 900px;
    position: absolute;
    
}

















.skills-content {
    display: flex; 
    margin-top: 30px;
}


.design-skills-container {
    width: 30%;
    height: 260px; 
    /* background-color: blue; */
    margin-left: 60px;
}

.dev-skills-container {
    width: 70%;
    height: 260px; 
    /* background-color: grey; */
    margin-left: 60px;
}



.vect-divider {
    width: 100%;
    height: 6px;
    background-color: #E74949; 

}

.skills-list-container {
    display: flex;
    justify-content: space-between;
}



.logo-anim-wrapper {
    height: 560px; 
    /* background-color: #E74949; */
}

.logo-anim {
    width: 750px;
    opacity: 0.05;
}


.section-title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: white; 
    font-size: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.tools-container { 
    margin-top: 50px;
    height: 750px;
    /* background-color: black; */
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.tools-wrapper {
    margin-top: 20px;
    height: 500px; 
    width: 70%; 
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
}

.tool-category {
    width: 250px; 
    height: 450px; 
    /* background-color: #E74949; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tool-icon {
    height: 190px;
    margin-bottom: 15px;
}

.sm-header {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
    font-size: 1.4rem;
}

.tools-list {
    padding: 0;
    color: white; 
    list-style-type: none;
    text-align: center;
}

.tools-list li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.project-container {
    /* background-color: red; */
    /* max-width: 780px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-container h1 {
    padding-bottom: 10px;
}

.projects-nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 300px;
    /* background-color: red; */
}

.projects-nav li {
    color: white;
    font-size: 1.4rem;
    padding-bottom: 10px;
}

.active {
    border-bottom: 2px solid red;
}

.home2 {
    width: 100%;
    height: max-content; 
    background-color: white;
}


.projects-grid {
    max-width: 900px;
    height: max-content; 
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: gray; */
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
}



.testimonial-container {
    height: 500px; 
    display: flex;
    justify-content: space-between;
    /* background-color: black; */

}

.testimonial-card {
    width: 300px; 
    height: max-content;
    border-radius: 10px;
    background-color: #232323;
    color: white;
    padding: 30px;
}

.testimonial-card img {
    height: 30px; 
    width: 30px;
    float: right;
}

.testimonial-card h1 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.underline {
    height: 2px; 
    width: 100%;
    background-color: #E74949;
}


.about-container {
    display: flex;
    justify-content: space-between;
}

.about-title {
    color: black;
}

.about-text-container {
    width: 67%;
}

.about-container img {
    margin-top: 40px;
    margin-right: -10px;
    width: 320px;
    height: auto;
    /* background-color: red; */
}



.home3 {
    margin-top: -13.1px;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to top right, #121212, #212121);
}


@media screen and (max-width: 1000px) {

}


