/* .nav-wrapper {
    height: 100px; 
    width: 100%;
    background-color: #212121;
} */

.nav-bar {
    height: 35px;
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
}

#navLogo {
    height: 35px;
}

.nav {
    display: flex;
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    margin-left: 30px;
}

#burger {
    height: 30px;
}

@media screen and (max-width: 570px) {
    .nav-bar {
        margin-top: 20px;
    }
}