.nav-bar {
    height: 100px; 
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navlogo {
    height: 40%;
}

.nav {
    display: flex;
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: white; 
    margin-left: 30px;
}
