.black-bg {
    background-color: black;
}

#nextgenBooklet {
    width: 550px;
}

.proj-intro {
    color: white;
}

@media screen and (max-width: 900px) {
    .black-bg {
    }
}

@media screen and (max-width: 650px) {
    .black-bg {
    }
}

@media screen and (max-width: 572px) {
    .proj-intro h1 {
        font-size: 1.4rem;
    }

    .proj-intro h2 {
        font-size: 1rem;
    }
}