.black-bg {
    background-color: black;
}

#nextgenBooklet {
    width: 550px;
}

.proj-intro {
    color: white;
}

@media screen and (max-width: 900px) {
    .black-bg {
    }
}

@media screen and (max-width: 650px) {
    .black-bg {
    }
}
