img,video {
    max-width: 100%;
}

.img-section {
    margin-bottom: 100px;
}

.img-header {
    margin-bottom: 20px;
}

.border-line {
    border-top: 1px solid #D5D5D5;
}

.light-header {
    color: #7E7E7E;
    display: block;
    margin: 50px 0;
}

.triple-img-container {
    display: flex;
}

.logo-split {
    display: flex;
    align-items: flex-start;
    margin-bottom: 100px;
}

.mobile-anim {
    height: 400px;
    margin-bottom: 50px;
    background-color: white;
}







.proj-hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.proj-hero p{
    margin-top: 30px;
    color: #343434;
}

.proj-hero img {
    max-width: 350px;
}

/* Breakdown */

.breakdown {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.breakdown p {
    font-size: 1.1rem;
    line-height: 2.125rem;
}

@media screen and (min-width: 768px) {
    .breakdown {
        flex-direction: row;
    }
    .breakdown-split-1 {
        white-space: nowrap;
    }
    .breakdown-split-2 {
        margin-left: 70px;
    }
}


/* Proj-Intro */

.proj-intro-section {
    position: relative;
    overflow: hidden;
    margin-bottom: 150px;
}

.proj-intro-bg {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 450px;
    width: 100%;
    z-index: -1;
}

.proj-intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.proj-intro h1 {
    color: white;
    font-size: 2rem;

}

@media screen and (max-width: 768px) {
    .proj-intro h1 {
        font-size: 1.7rem;
    }

    .proj-intro h2 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .proj-intro h1 {
        font-size: 1.4rem;
    }
}

/* Text Img Container */

.text-img-container {
    margin-bottom: 100px;
}

.text-img-container p{
    margin-bottom: 80px;
    font-size: 1.1rem;
    line-height: 2.125rem;
}

@media screen and (min-width: 992px) {
    .text-img-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .text-img-container p {
        width: 80%;
        margin-right: 0;
    }
    .text-img-container img {
        width: 40%;
    }
}

/* Highfi's */

.slant-container {
    height: 1900px;
    position: relative;
    margin-bottom: 300px;
}

.grey-slant-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
    background-color: #F2F2F2;
    /* background-color: red; */

}

.highfi-container {
    height: 100%;
    position: relative;
}

.highfi-container img {
    border-radius: 0.5vw;
    position: absolute;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07); 
    margin: 0 60px;  

}


@media screen and (max-width: 1230px) {
    .slant-container {
        height: 155vw;
    }
}

@media screen and (max-width: 768px) {
    .highfi-container img {
        margin: 0 25px; 
    }
}

/* Demo Section */

.demo-section {
    clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);
    background-color: #F2F2F2;
    padding: 6rem 0;    
}

.demo-container h1 {
    color: darkgray;
    margin-bottom: 20px;
}

.demo-container video {
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
}

