img,video {
    max-width: 100%;
}


.proj-hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.proj-hero p{
    margin-top: 30px;
    color: #343434;
}

#suiHeroTitle {
    max-width: 272px;
}

@media screen and (max-width: 572px) {
    #suiHeroTitle {
        max-width: 230px;
    }
}

@media screen and (min-width: 572px) {
    .proj-hero {
        height: calc(100vh - 95px)
    }
}


/* Breakdown */

.breakdown {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.breakdown p {
    font-size: 1.1rem;
    line-height: 2.125rem;
}

@media screen and (min-width: 760px) {
    .breakdown {
        flex-direction: row;
    }
    .breakdown-split-1 {
        white-space: nowrap;
    }
    .breakdown-split-2 {
        margin-left: 70px;
    }
}


/* Proj-Intro */

.proj-intro-section {
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
}

.blue-bg {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(to top right, #2BAAE4, #67D8EC);
    height: 450px;
    width: 100%;
    z-index: -1;
}

.proj-intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.proj-intro h1 {
    color: white;
    font-size: 2rem;

}
.sui-intro-anim {
    max-width: 550px;
    margin-left: 30px;
}

@media screen and (max-width: 900px) {
    .blue-bg {
        height: 45vw;
    }
}

@media screen and (max-width: 650px) {
    .blue-bg {
        height: 37vw;
    }
}

@media screen and (max-width: 572px) {
    .proj-intro h1 {
        font-size: 1.4rem;
    }
}

/* Text Img Container */

.text-img-container {
    margin-bottom: 100px;
}

.text-img-container p{
    margin-bottom: 40px;
    font-size: 1.1rem;
    line-height: 2.125rem;
}

@media screen and (min-width: 900px) {
    .text-img-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .text-img-container p {
        width: 80%;
        margin-right: 0;
    }
    .text-img-container img {
        width: 40%;
    }
}

/* Highfi's */

.slant-container {
    height: 1900px;
    position: relative;
    margin-bottom: 100px;
}

.grey-slant-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
    background-color: #F2F2F2;
    /* background-color: red; */

}

.highfi-container {
    height: 100%;
    position: relative;
}

.highfi-container img {
    border-radius: 0.5vw;
    position: absolute;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07); 
    margin: 0 60px;  

}

#hfLanding {
    top: 0;
    left: 0;
    width: 50%;
}

#hfLogin {
    top: 7%;
    right: 10%;
    width: 25%;
}

#hfSignup {
    top: 20%;
    right: 10%;
    width: 25%;
}

#hfHome {
    top: 41%;
    right: 0;
    width: 64%;
    
}

#hfCreate {
    width: 71%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -2%;
}

@media screen and (max-width: 1230px) {
    .slant-container {
        height: 155vw;
    }
}

@media screen and (max-width: 970px) {
    #hfLogin, #hfSignup {
        right: 5%;
    }
}

@media screen and (max-width: 700px) {
    #hfLogin, #hfSignup {
        right: 2%;
    }
}

@media screen and (max-width: 570px) {
    #hfLogin, #hfSignup {
        right: 7%;
    }
    .highfi-container img {
        margin: 0 25px; 
    }
}