.projicon-container {
    width: 200px; 
    height: 200px;
    /* background-color: white; */
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    transition: 0.1s linear;
    background-size: cover;
    margin-bottom: 40px;
}

.projicon-title {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: -30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    padding-left: 10px;
    transition: 0.1s linear;
}

.projicon-container:hover .projicon-title{
    bottom: 0;
}

.icon {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 740px) {
    .projicon-container {
        width: 160px;
        height: 160px;
    }
    .projicon-title {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 620px) {
    .projicon-container {
        width: 140px; 
        width: 140px;
    }
    .projicon-title {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 480px) {
    .projicon-container {
        width: 110px;
        height: 110px;
    }
    .projicon-title {
        font-size: 0.6rem;
    }
    .projicon-container:hover .projicon-title{
        bottom: -10px;
    }
}

@media screen and (max-width: 390px) {
    .projicon-container {
        width: 90px;
        height: 90px;
    }
    .projicon-title {
        display: none;
    }
}

@media screen and (max-width: 330px) {
    .projicon-container {
        width: 70px;
        height: 70px;
    }
}