.footer-container {
  height: 200px;
  width: 100%;
  background-color: #181818;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#footerName {
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-desc {
  font-size: 1rem;
  max-width: 450px;
  line-height: 25px;
}

.footer-desc-mobile {
  display: none;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  text-align: right;
  margin-top: 0;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-links img {
  height: 25px;
}

.socials {
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-icon {
  width: 25px;
  height: 100%;
  margin-right: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

#mail {
  width: 31px;
  background-image: url("../images/mail.png");
}

#mail:hover {
  background-image: url("../images/mailc.png");
}

#ig {
  background-image: url("../images/ig.png");
}

#ig:hover {
  background-image: url("../images/igc.png");
}

#linked {
  background-image: url("../images/linked.png");
}

#linked:hover {
  background-image: url("../images/linkedc.png");
}

#git {
  background-image: url("../images/git.png");
}

#git:hover {
  background-image: url("../images/gitc.png");
}

.dark-icon {
  -webkit-filter: invert(0.5);
          filter: invert(0.5);
}

.dark-icon:hover {
  -webkit-filter: unset;
          filter: unset;
}

@media screen and (max-width: 500px) {
  .footer-desc-desktop {
    display: none;
  }
  .footer-desc-mobile {
    display: block;
  }
}

.section-title {
  letter-spacing: 3px;
  color: #5E5E5E;
}

.hero-wrapper {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  position: relative;
}

.hero2 {
  width: 100%;
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 180px;
}

.hero-slant {
  position: absolute;
  top: 0;
  width: 100%;
  height: 75%;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#FDFDFD), to(#D5D5D5));
  background-image: linear-gradient(to top right, #FDFDFD, #D5D5D5);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
  z-index: -1;
}

.hero-content {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-intro {
  color: #5E5E5E;
}

.hero-intro h1 {
  font-size: 2.5rem;
  letter-spacing: 5px;
}

.hero-intro p {
  max-width: 450px;
}

.hero-mockup2 {
  max-width: 950px;
  position: absolute;
  right: -250px;
}

.dev-anim2 {
  position: absolute;
  right: 0;
  top: 200px;
  max-width: 550px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  z-index: -1;
  opacity: 0.5;
}

@media screen and (max-width: 1100px) {
  .hero-mockup2 {
    max-width: 85vw;
    right: -280px;
  }
}

@media screen and (max-width: 768px) {
  .hero2 {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding-top: 200px;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    margin-bottom: 60px;
  }
  .hero-slant {
    height: 65%;
  }
  .hero-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-mockup2 {
    position: unset;
    max-width: 100%;
    margin-right: -20px;
    margin-top: 50px;
  }
  .dev-anim2 {
    position: unset;
    margin-top: -25vw;
  }
}

.intro2 {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5E5E5E;
  margin-bottom: 200px;
}

.intro2 h1 {
  white-space: nowrap;
  margin-right: 50px;
  margin-top: 16px;
}

@media screen and (max-width: 992px) {
  .intro2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro2 h1 {
    white-space: unset;
    margin-right: 0px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .intro2 {
    margin-bottom: 80px;
  }
}

.tools-section {
  color: #5E5E5E;
  height: 377px;
  max-width: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tool-category {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.tool-category .tool-icon-wrapper {
  height: 90px;
  margin-bottom: 35px;
}

.tool-category .tool-icon {
  height: 100%;
}

.tool-category h1 {
  letter-spacing: 2px;
  font-size: 1.4rem;
}

.tool-category .tools-inline {
  display: none;
}

@media screen and (max-width: 768px) {
  .tools-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tool-category {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    margin-bottom: 30px;
  }
  .tool-category .tool-icon-wrapper {
    margin-bottom: 0px;
  }
  .tool-category .tool-icon {
    width: 80px;
    min-width: 80px;
    margin-bottom: 0;
    margin-right: 30px;
  }
  .tool-category p {
    margin-bottom: 0;
  }
  .tool-category .tools-stacked {
    display: none;
  }
  .tool-category .tools-inline {
    margin: 0;
    display: block;
  }
}

.about-container {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow: hidden;
}

.about-header {
  margin-top: 200px;
}

.about-header h1 {
  font-size: 2rem;
  letter-spacing: 5px;
  margin-bottom: 30px;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-content .about-col1 {
  width: 60%;
}

.about-content .about-col2 {
  width: 26%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0 40px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
}

.about-section {
  margin-bottom: 80px;
}

.about-section h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid #CDCDCD;
  margin-bottom: 0;
}

.about-section h3 {
  display: inline-block;
  color: #E96D2F;
  margin-right: 25px;
  margin-bottom: 0;
}

.about-section span {
  color: #787878;
  display: inline-block;
  margin-top: 16px;
}

.about-section p {
  margin-top: 11px;
}

.about-section ul {
  list-style: none;
  /* Remove default bullets */
  padding-left: 20px;
}

.about-section ul li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #E96D2F;
  /* Change the color */
  font-weight: 700;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

@media screen and (max-width: 768px) {
  .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-content .about-col1 {
    width: 100%;
  }
  .about-content .about-col2 {
    width: 100%;
    padding: 0 0;
    border-radius: 0px;
    background-color: unset;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
}

.about-proj-link {
  color: black;
}

.about-proj-link:hover {
  color: #E96D2F;
}

.about-slant {
  position: absolute;
  top: 0;
  width: 100%;
  height: 75%;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#FDFDFD), to(#D5D5D5));
  background-image: linear-gradient(to top right, #FDFDFD, #D5D5D5);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
  z-index: -1;
}

.contact-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.contact-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5E5E5E;
}

.contact-content h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.full-anim {
  position: absolute;
  right: 11vw;
  max-width: 700px;
  opacity: 0.1;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.full-anim-center {
  max-width: 550px;
  opacity: 0.1;
  -webkit-filter: invert(1);
          filter: invert(1);
  display: none;
}

@media screen and (max-width: 768px) {
  .contact-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .full-anim {
    display: none;
  }
  .full-anim-center {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    display: block;
  }
}

.projects-container {
  padding-top: 180px;
  padding-bottom: 100px;
  overflow-x: hidden;
}

.projects-container h1 {
  margin-bottom: 100px;
}

.projects-split-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projectcard-wrapper img {
  max-width: 100%;
}

.projectcard-container {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .projectcard-container {
    height: 30vw;
  }
}

.projectcard-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: 0.17s ease-in-out;
  transition: 0.17s ease-in-out;
  background-size: cover;
}

.projectcard-bg:hover {
  opacity: 0.15;
}

.projectcard-content-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  z-index: 2;
  pointer-events: none;
}

.content-order {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

#suiC {
  width: 300px;
}

#ngC {
  width: 300px;
}

#amazonC {
  width: 350px;
}

#pepiC {
  width: 160px;
  position: absolute;
  left: 40px;
  top: 15%;
}

#maryC {
  width: 200px;
}

#jazelC {
  width: 250px;
}

#sdC {
  width: 70px;
}

.projectcard-mockup-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  pointer-events: none;
}

.projectcard-mockup-container img {
  margin-top: -60px;
}

#pepiM {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55%;
}

#jvM {
  width: 60%;
  margin-top: 0;
}

#cgM {
  width: 30%;
  margin-top: 0;
}

.projectcard-title-container {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 30px;
  margin-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.6;
}

.card-arrow {
  margin-left: 20px;
  width: 10px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.projectcard-container:hover + .projectcard-title-container .card-arrow {
  margin-left: 25px;
}

#suiT {
  width: 50px;
}

#ngT {
  width: 80px;
}

#amazonT {
  width: 180px;
}

#pepiT {
  width: 120px;
}

#maryT {
  width: 130px;
}

#jazelT {
  width: 130px;
}

#sdT {
  width: 220px;
}

#jvT {
  width: 170px;
}

#cgT {
  width: 250px;
}

@media screen and (max-width: 768px) {
  .projects-split-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectcard-wrapper {
    width: 100% !important;
  }
  #pepiM {
    width: 46%;
  }
  #maryM {
    width: 50%;
  }
  #jvM {
    width: 35%;
  }
  #cgM {
    width: 20%;
  }
}

@media screen and (max-width: 580px) {
  .projectcard-container {
    height: 48vw;
  }
  .projectcard-content-container {
    display: none;
  }
  .projectcard-mockup-container {
    width: unset !important;
  }
  .projectcard-mockup-container img {
    margin-top: -7vw;
  }
  .projectcard-title-container {
    margin-bottom: 100px;
    -webkit-transform-origin: left center;
            transform-origin: left center;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  #ngM {
    width: 68%;
  }
  #amazonM {
    width: 95%;
  }
  #pepiM {
    width: 75%;
  }
  #maryM {
    width: 40%;
  }
  #jazelM {
    width: 90%;
  }
  #sdM {
    width: 75%;
  }
}
/*# sourceMappingURL=styles.css.map */