.proj-p {
    font-size: 18px;
    line-height: 35px;
}


/* Project Hero */

.proj-hero {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.proj-hero img {
    width: 270px;
}

.proj-hero p {
    margin-top: 30px;
}


/* Breakdown */

.breakdown {
    height: max-content;
    display: flex;
}

.breakdown ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 50px;
}

.roles-container {
    width: 25%;
}

.goal-container {
    width: 75%;
}

@media screen and (max-width: 1000px) {
    .roles-container {
        width: 30%;
    }
    .goal-container {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .roles-container {
        width: 35%;
    }
    .goal-container {
        width: 65%;
    }
}

@media screen and (max-width: 700px) {
    .breakdown {
        flex-direction: column;
    }
    .roles-container {
        display: flex;
        justify-content: space-between;
        width: 380px;
    }
    .goal-container {
        width: 100%;
    }
}

@media screen and (max-width: 440px) {
    .roles-container {
        flex-direction: column;
        width: 100%;
    }
}

/* Intro Graphic */

.graphic {
    width: 100%;
    height: 770px;
    display: flex;
    align-items: center;
    position: relative;
}

.graphic-strip {
    width: 100%;
    height: 570px;
    background-color: #3CB7E6;
}

.graphic-content {
    height: 100%;
    display: flex;
    align-items: center;
}

.intro-title {
    color: white;
    width: 40%;
}

.intro-anim {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

@media screen and (max-width: 1200px) {
    .graphic {}
    .graphic-strip {
        height: 47vw;
    }
}


/* Brand Section */

.brand {
    height: max-content; 
    margin-top: 200px;
    display: flex;
    justify-content: space-between;    
}

.context {
    width: 45%;
}

.visual {
    width: 45%;
}

.visual img {
    width: 100%;
}


/* Design Section */

.design {
    height: max-content;
    margin-top: 270px;
    display: flex;
    justify-content: space-between;
}

.light-text {
    color: #BBBBBB;
}


/* LowFi / HighFi Section */

#lowfi-text {
    float: right;
}

#highfi-text {
    position: absolute;
    top: -40px;
}

#lowfis {
    width: 100%;
}

.highfis {
    width: 100%;
    height: 2170px;
    margin-top: 220px;
    position: relative;    
    /* background-color: aqua; */
}

.slant-bg {
    width: 100%;
    height: 100%;
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
    background-color: #F2F2F2;
    position: absolute;
    top: 0;
}

.highfi-imgs {
    height:  100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* background-color: beige; */
    display: flex;
    justify-content: center;
}

.highfi-imgs-wrapper {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    position: relative;
}

.highfi-imgs-wrapper img {
    position: absolute;    
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
}

#landing {
    width: 750px;
    top: 0;
    left: 0;
}

#login {
    width: 220px;
    top: 170px;
    right: 0;
}

#signup {
    width: 220px;
    top: 350px;
    right: 0;
}

#home {
    width: 700px;
    right: 0;
    top: 1100px;
}

#create {
    width: 850px;
    top: 1600px;
    left: 0;
}


/* Development Section */

.dev {
    width: 100%;
    height: max-content;
    margin-top: 300px;
    position: relative;
    /* background-color: #BBBBBB; */
}

.screen-wrapper {
    position: absolute;
    right: -4.5vw; 
    top: 0;
    height: 100%;
}

.screen {
    width: 50vw;
    height: 33.6vw;
    background: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;    
    position: sticky;
    top: 11vw;
    /* transform: translate(0%, -50%); */
    bottom: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
}

.screen-content {
    width: 96%;
    height: 94%;
    border-radius: 10px;
    background-color: gray;
    overflow: hidden;
}

.screen-content img {
    width: 100%;
}


/* Final Demo */

.finalsite {
    margin-top: 200px;
}

.final-demo {
    width: 100%;
    margin-top: 50px;
    -webkit-tap-highlight-color: transparent;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 8.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 31.8px 33.4px rgba(0, 0, 0, 0.086),
    0 50px 80px rgba(0, 0, 0, 0.12)
}

.final-demo:focus {
    outline: none !important;
}

.finalsite-section {
    width: 100%;
    height: 500px;
}



.temp {
    width: 100%;
    height: 1000px;
}