
#cgLogo {
    width: 250px;
}

#cgIcon {
    width: 250px;
}

#cgBreak {
    margin-top: 70px;
    width: 250px;
}

#cgBreakdown {
    margin-top: 80px;
    width: 180px;
}

#cgProcess {
    margin-top: 100px;
    margin-bottom: 150px;
}

#cgName {
    // margin-left: 350px;
    width: 400px;
}

.cg-banner {
    background-size: cover;

}