@import "../containers";

#maryrevsIcon {
    width: 300px;
}

#maryrevsBreakdown {
    margin-top: 80px;
    width: 250px;
}

#hometohome {
    width: 400px;
    z-index: 2;
}

.maryrevs-intro {
    @include displayFlex(0, center, center);
    height: 100%;
}

.pink-bg {
    background-color: #FFDBEF;
    z-index: -2;
    padding-bottom: 50px;
}

.ig-post-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#maryrevsIg1 {
    width: 43%;
    margin-left: -80px;

}

#maryrevsIg2 {
    width: 43%;
    margin-bottom: -200px;

}

@media screen and (max-width: 768px) {
    .ig-post-container {
        flex-direction: column;
    }
    #maryrevsIg1 {
        width: 80%;
        margin-left: 0px;
    }
    #maryrevsIg2 {
        width: 80%;
        margin-bottom: 0px;
    
    }
}