@import "../containers";

#hometohome {
    width: 400px;
}

#maryrevsIcon {
    width: 300px;
}

#maryrevsBreakdown {
    margin-top: 80px;
    width: 250px;
}

.pink-bg {
    @include colorSection();
    padding-bottom: 50px;
    background-color: #FFDBEF;
}


.ig-post-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

#maryrevsIg1 {
    width: 378px;
    margin-left: -80px;

}

#maryrevsIg2 {
    width: 378px;
    margin-bottom: -200px;
}

@media screen and (max-width: 768px) {
    .ig-post-container {
        justify-content: space-between;
        margin-top: -50px;
    }
    #maryrevsIg1 {
        width: 55%;
    }
    #maryrevsIg2 {
        width: 55%;

    }
}

@media screen and (max-width: 500px) {
    .ig-post-container {
        flex-direction: column; 
    }
    #maryrevsIg1 {
        width: 100%;
        margin-left: 0px;

    }
    #maryrevsIg2 {
        width: 100%;
        margin-bottom: 0px;
    }
}