@import "../containers";

#maryrevsIcon {
    width: 300px;
}

#maryrevsBreakdown {
    margin-top: 80px;
    width: 250px;
}

#hometohome {
    width: 400px;
    z-index: 2;
}

.maryrevs-intro {
    @include displayFlex(0, center, center);
    height: 100%;
}

.pink-bg {
    background-color: #FFDBEF;
    position: relative;
    z-index: -2;
}