@import "../containers";

#ngBannerText {
    color: white;
}

#ngIntro {
    width: 300px;
}


#ngBreakdown {
    width: 500px;
    margin-bottom: $marginBottomXLg;

}

#ngProto {
    width: 510px;
}

.mockup-container {
    margin-bottom: $marginBottomXLg;
}


