@import "../containers";

#ngBannerText {
    color: white;
}

#ngIntro {
    width: 300px;
}

.ng-breakdown {
    margin-bottom: 200px;
}

#ngBreakdown {
    width: 500px;
}

#ngProto {
    width: 510px;
}

.mockup-container {
    margin-bottom: $marginBottomXLg;
}

@media screen and (max-width: 768px) {
    .mockup-container {
        margin-bottom: $marginBottomLg;
    }
}
