.phone-container {
    width: 100%;
    @include displayFlex(row, flex-start, center);
}

@media screen and (max-width: 768px) {
    .phone-container {
        zoom: 0.7;
        margin-bottom: 200px;
    }
}

.phone-wrapper {
    position: relative;
    transform: scale(0.9);
}

.phone-wrapper-right {
    margin-right: -20px;
}

.phone-wrapper-left {
    margin-left: -20px;
}

.phone-shell {
    width: 350px;
    margin-top: -100px;
}

.ig-slide {
    max-width: none;
    width: 937px;
    width: 940px;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: -71px; 
    bottom: 0;
    transition: 0.3s linear;
    z-index: -1;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07); 
}

.ig-slide-left {
    left: -605px;
}

.animate-left {
    animation: igslideL 1.8s linear;
    animation-fill-mode: forwards;
}

.ig-slide-right {
    right: -605px;
}

.animate-right {
    animation: igslideR 1.8s linear;
    animation-fill-mode: forwards;
}

@keyframes igslideL {
    0% {
        left: -608px;
    }
    33% {
        left: -293px;
    }
    66% {
        left: -293px;
    }
    100% {
        left: 19px;
    }
}

@keyframes igslideR {
    0% {
        right: -608px;
    }
    33% {
        right: -293px;
    }
    66% {
        right: -293px;
    }
    100% {
        right: 19px;
    }
}

@keyframes igslideRespL {
    0% {
        left: -173%;
    }
    33% {
        left: -84%;
    }
    66% {
        left: -84%;
    }
    100% {
        left: 5.5%;
    }
}

@keyframes igslideRespR {
    0% {
        right: -173%;
    }
    33% {
        right: -84%;
    }
    66% {
        right: -84%;
    }
    100% {
        right: 5.5%;
    }
}

@media screen and (max-width: 500px) {
    .phone-wrapper {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 415px) {
    .ig-slide-left { 
        max-width: 268%;       
        top: -19.5%;
        left: -173%;
    }
    .animate-left {
        animation: igslideRespL 2s linear;
        animation-fill-mode: forwards;        
    }
    .ig-slide-right { 
        max-width: 268%;     
        top: -19.5%;
        right: -173%;
    }
    .animate-right {
        animation: igslideRespR 2s linear;
        animation-fill-mode: forwards;    
    }
    .phone-shell {
        width: 350px;
        margin-top: -40%;
    }
}
