#sdLogo {
    width: 150px;
}

#sdIcon {
    width: 180px;
}

#sdBreakdown {
    margin-top: 50px;
    width: 250px;
}


.event-wrapper {
    // background-color: red;
    padding-top: 30px;
    padding-bottom: 30px;

}

.event-container {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: blue;
}

.poster-container {
    display: flex;
}

.front-poster {
    margin-right: 15px;
}

.event-poster {
    width: 40%;
}

@media screen and (min-width: 992px) {

}