#maryrevsIcon {
    width: 380px;
    margin-right: 100px;
}

#maryrevsBreakdown {
    margin-top: 30px;
    width: 340px;
}

#maryrevsStyle {
    margin-top: 30px;
    width: 225px;
}

.pink-bg {
    background-color: #FFDBEF;
}

.ig-post-container {
    display: flex;
    align-items: center;
}

#maryrevsIg1 {
    width: 52%;
    margin-bottom: 200px;
}

#maryrevsIg2 {
    width: 52%;
    margin-left: -60px;
    margin-bottom: -100px;
}