

.ig-post-container {
    display: flex;
    align-items: center;
}

#maryrevsIg1 {
    width: 52%;
    margin-bottom: 200px;
}

#maryrevsIg2 {
    width: 52%;
    margin-left: -60px;
    margin-bottom: -100px;
}