.split-img-container {
    display: flex;
    justify-content: space-between;

}

.split-img-container img {
    width: 48%;
}

#pepiBase {
    width: 700px;
}

#pepiIdentity {
    width: 300px;
}

#pepiComplete {
    width: 500px;
}

#pepiStyle {
    width: 900px;
}

#pepiTech {
    width: 260px;
}

#pepiWet {
    width: 244px;
}

#pepiSpace {
    margin-bottom: -8px;
    width: 300px;
}

.grey-bg {
    background-color: #ECECEC;
}

.tech-blue-bg {
    background-color: #00C0D8;
    margin-top: 150px;
}

.wet-yellow-bg {
    background-color: #FFCD00;
}

.space-purple-bg {
    background-color: #C424F1;
}

.suit-branding-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}


.suit {
    width: 120px;
}

.hexColor {
    width: 120px;
}

.mobile-hex {
    display: none;
}

.suit-branding-wrapper div {
    width: 350px;
    margin: 0 80px;
}

.triple-split {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {
    .triple-split {
        flex-direction: column;
        align-items: flex-start;
    }
    .triple-split img {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px) {
    .desktop-hex {
        display: none;
    }
    .mobile-hex {
        display: block;
    }
    .suit-branding-wrapper {
        justify-content: flex-start;
    }
    .suit-branding-wrapper div {
        flex: 1;
        margin: 0 0 0 35px;
    }
    
}

@media screen and (max-width: 500px) {
    .suit {
        order: 2;
        margin-right: -85px;
    }
    .suit-branding-wrapper div {
        padding-right: 40px;
        margin: 0;
    }
}