$lightGreyBg: #F8F8F8;
$lightGreyTxt: #7E7E7E;
$marginBottomSm: 50px;
$marginBottomLg: 100px;
$marginBottomXLg: 200px;

@import "./sui";
@import "./nextgen";
@import "./amazon";
@import "./pepi";
@import "./maryrevs";
@import "./jazelbites";
@import "./sounddistrict";
@import "./jv";
@import "./cg";


@import "./phone";


img, video {
    max-width: 100%;
    object-fit: contain;
}

.light-header {
    margin: 50px 0;
    color: $lightGreyTxt;
}

.light-list {
    display: block;
    margin-top: 0;
    margin-bottom: 80px;
}

.white-gradient {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0));
    position: absolute;
    z-index: 1;
}

.black-gradient {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    position: absolute;
    z-index: 1;
}

.grey-bg {
    background-color: $lightGreyBg;
    margin-bottom: $marginBottomXLg;
    padding-top: 50px;
    padding-bottom: 50px;
}

.grey-btn {
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    color: white;
    background-color: #181818;
    width: 180px;
    &:hover {
        cursor: pointer;
    }
}