.proj-hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.proj-hero img {
  width: 400px;
}

.proj-hero p {
  margin-top: 30px;
  color: #343434;
}

.breakdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 100px;
}

.breakdown p {
  font-size: 1.1rem;
  line-height: 2.125rem;
}

@media screen and (min-width: 768px) {
  .breakdown {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .breakdown-1 {
    white-space: nowrap;
  }
  .breakdown-2 {
    margin-left: 70px;
  }
}

.proj-section-header {
  border-bottom: 1px solid #D5D5D5;
  padding-bottom: 10px;
}

.img-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  margin-bottom: 100px;
}

.img-split img {
  width: 49%;
}

.grey-bg {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #F8F8F8;
  margin-bottom: 200px;
}

.logo-section {
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 29%;
  margin-bottom: 200px;
  position: relative;
}

.white-grad {
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 0, 0, 0));
  position: absolute;
  z-index: 1;
}

.logo-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}

.styleguide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.styleguide-container img:nth-child(1) {
  width: 41%;
}

.styleguide-container img:nth-child(2) {
  width: 53%;
}

@media screen and (max-width: 768px) {
  .styleguide-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .styleguide-container img:nth-child(1) {
    width: 450px;
    margin-bottom: 50px;
  }
  .styleguide-container img:nth-child(2) {
    width: 450px;
  }
}

@media screen and (max-width: 992px) {
  .mobile-anim {
    margin-top: 100px;
  }
}

#pepiSpace {
  margin-bottom: -8px;
}

.pepi-img-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
}

.pepi-img-split img:nth-child(1) {
  width: 260px;
}

.pepi-img-split img:nth-child(2) {
  width: 244px;
}

.pepi-img-split img:nth-child(3) {
  width: 300px;
}

@media screen and (max-width: 992px) {
  .pepi-img-split {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .pepi-img-split img {
    margin-bottom: 50px;
  }
}

.pepi-brand-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.pepi-brand-container .suit {
  width: 120px;
}

.pepi-brand-container div {
  width: 350px;
  margin: 0 80px;
}

.pepi-brand-container .hexColor {
  width: 120px;
}

.pepi-brand-container .mobile-hex {
  display: none;
}

@media screen and (max-width: 768px) {
  .desktop-hex {
    display: none;
  }
  .pepi-brand-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .pepi-brand-container div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 0 0 35px;
  }
  .pepi-brand-container .mobile-hex {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .pepi-brand-container .suit {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: -85px;
  }
  .pepi-brand-container div {
    padding-right: 40px;
    margin: 0;
  }
}

.proj-hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.proj-hero img {
  width: 400px;
}

.proj-hero p {
  margin-top: 30px;
  color: #343434;
}

.breakdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 100px;
}

.breakdown p {
  font-size: 1.1rem;
  line-height: 2.125rem;
}

@media screen and (min-width: 768px) {
  .breakdown {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .breakdown-1 {
    white-space: nowrap;
  }
  .breakdown-2 {
    margin-left: 70px;
  }
}

.proj-section-header {
  border-bottom: 1px solid #D5D5D5;
  padding-bottom: 10px;
}

.img-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  margin-bottom: 100px;
}

.img-split img {
  width: 49%;
}

.grey-bg {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #F8F8F8;
  margin-bottom: 200px;
}

.logo-section {
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 29%;
  margin-bottom: 200px;
  position: relative;
}

.white-grad {
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 0, 0, 0));
  position: absolute;
  z-index: 1;
}

.logo-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}

.styleguide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.styleguide-container img:nth-child(1) {
  width: 41%;
}

.styleguide-container img:nth-child(2) {
  width: 53%;
}

@media screen and (max-width: 768px) {
  .styleguide-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .styleguide-container img:nth-child(1) {
    width: 450px;
    margin-bottom: 50px;
  }
  .styleguide-container img:nth-child(2) {
    width: 450px;
  }
}

@media screen and (max-width: 992px) {
  .mobile-anim {
    margin-top: 100px;
  }
}

#maryrevsIcon {
  width: 300px;
}

#maryrevsBreakdown {
  margin-top: 80px;
  width: 250px;
}

#hometohome {
  width: 400px;
  z-index: 2;
}

.maryrevs-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.pink-bg {
  background-color: #FFDBEF;
  z-index: -2;
  padding-bottom: 50px;
}

.ig-post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

#maryrevsIg1 {
  width: 43%;
  margin-left: -80px;
}

#maryrevsIg2 {
  width: 43%;
  margin-bottom: -200px;
}

@media screen and (max-width: 768px) {
  .ig-post-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #maryrevsIg1 {
    width: 80%;
    margin-left: 0px;
  }
  #maryrevsIg2 {
    width: 80%;
    margin-bottom: 0px;
  }
}

.phone-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.phone-shell {
  width: 350px;
  margin-top: -150px;
}

.ig-slide {
  max-width: none;
  width: 937px;
  width: 940px;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: -119px;
  bottom: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  z-index: -1;
}

.ig-slide-left {
  left: -605px;
  -webkit-animation: igslideL 2s linear;
          animation: igslideL 2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.ig-slide-right {
  right: -605px;
  -webkit-animation: igslideR 2s linear;
          animation: igslideR 2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes igslideL {
  0% {
    left: -608px;
  }
  40% {
    left: -608px;
  }
  50% {
    left: -293px;
  }
  90% {
    left: -293px;
  }
  100% {
    left: 19px;
  }
}

@keyframes igslideL {
  0% {
    left: -608px;
  }
  40% {
    left: -608px;
  }
  50% {
    left: -293px;
  }
  90% {
    left: -293px;
  }
  100% {
    left: 19px;
  }
}

@-webkit-keyframes igslideR {
  0% {
    right: -608px;
  }
  40% {
    right: -608px;
  }
  50% {
    right: -293px;
  }
  90% {
    right: -293px;
  }
  100% {
    right: 19px;
  }
}

@keyframes igslideR {
  0% {
    right: -608px;
  }
  40% {
    right: -608px;
  }
  50% {
    right: -293px;
  }
  90% {
    right: -293px;
  }
  100% {
    right: 19px;
  }
}

@-webkit-keyframes igslideRespL {
  0% {
    left: -173%;
  }
  40% {
    left: -173%;
  }
  50% {
    left: -84%;
  }
  90% {
    left: -84%;
  }
  100% {
    left: 5.5%;
  }
}

@keyframes igslideRespL {
  0% {
    left: -173%;
  }
  40% {
    left: -173%;
  }
  50% {
    left: -84%;
  }
  90% {
    left: -84%;
  }
  100% {
    left: 5.5%;
  }
}

@-webkit-keyframes igslideRespR {
  0% {
    right: -173%;
  }
  40% {
    right: -173%;
  }
  50% {
    right: -84%;
  }
  90% {
    right: -84%;
  }
  100% {
    right: 5.5%;
  }
}

@keyframes igslideRespR {
  0% {
    right: -173%;
  }
  40% {
    right: -173%;
  }
  50% {
    right: -84%;
  }
  90% {
    right: -84%;
  }
  100% {
    right: 5.5%;
  }
}

@media screen and (max-width: 415px) {
  .ig-slide-left {
    max-width: 268%;
    -webkit-animation: igslideRespL 2s linear;
            animation: igslideRespL 2s linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    top: -19%;
  }
  .ig-slide-right {
    max-width: 268%;
    -webkit-animation: igslideRespR 2s linear;
            animation: igslideRespR 2s linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    top: -19%;
  }
  .phone-shell {
    width: 350px;
    margin-top: -40%;
  }
}

img, video {
  max-width: 100%;
}

.light-header {
  margin: 50px 0;
  color: #7E7E7E;
}

.light-list {
  display: block;
  margin-top: 0;
  margin-bottom: 150px;
}
/*# sourceMappingURL=projects.css.map */