$lightGreyBg: #F8F8F8;
$lightGreyTxt: #7E7E7E;
$marginBottomSm: 50px;
$marginBottomLg: 100px;
$marginBottomXLg: 200px;

@import "./pepi";
@import "./maryrevs";
@import "./phone";


img, video {
    max-width: 100%;
}

.light-header {
    margin: 50px 0;
    color: $lightGreyTxt;
}
