.proj-section-header {
  border-bottom: 1px solid #D5D5D5;
  padding-bottom: 10px;
}

.img-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  margin-bottom: 100px;
}

.img-split img {
  width: 49%;
}

.proj-hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.proj-hero img {
  width: 400px;
}

.proj-hero p {
  margin-top: 30px;
  color: #343434;
}

@media screen and (max-width: 768px) {
  .proj-hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .proj-hero img {
    zoom: 0.7;
  }
}

.breakdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 100px;
}

.breakdown p {
  font-size: 1.1rem;
  line-height: 2.125rem;
}

@media screen and (min-width: 768px) {
  .breakdown {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .breakdown-1 {
    white-space: nowrap;
  }
  .breakdown-2 {
    margin-left: 70px;
  }
}

.banner {
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 200px;
  position: relative;
}

.banner-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.banner-intro img, .banner-intro h2 {
  z-index: 2;
}

.logo-breakdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}

.styleguide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.styleguide-container img:nth-child(1) {
  width: 41%;
}

.styleguide-container img:nth-child(2) {
  width: 53%;
}

@media screen and (max-width: 768px) {
  .styleguide-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .styleguide-container img:nth-child(1) {
    width: 450px;
    margin-bottom: 20px;
  }
  .styleguide-container img:nth-child(2) {
    width: 450px;
  }
}

.text-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 200px;
}

.text-img p {
  font-size: 1.1rem;
  margin: 0;
  width: 50%;
  min-width: 300px;
}

.text-img img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 100px;
  margin-top: 8px;
}

@media screen and (max-width: 768px) {
  .text-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-img p {
    width: 100%;
    margin-bottom: 50px;
  }
  .text-img img {
    margin-left: 0;
  }
}

.slant-container {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  margin-bottom: 200px;
  padding-bottom: 100px;
}

.slant-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
  background-color: #F8F8F8;
  z-index: -1;
}

.demo-section {
  -webkit-clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);
  background-color: #F2F2F2;
  padding: 6rem 0;
}

.demo-section h2 {
  color: darkgray;
  margin-bottom: 20px;
}

.demo-section video {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.deliverables-container {
  padding-top: 70px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow: hidden;
}

#suiHeroTitle {
  width: 272px;
}

@media screen and (max-width: 500px) {
  #suiHeroTitle {
    max-width: 230px;
  }
}

.sui-banner {
  height: 450px;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#2BAAE4), to(#67D8EC));
  background-image: linear-gradient(to top right, #2BAAE4, #67D8EC);
  margin-top: 200px;
  margin-bottom: 250px;
}

.sui-intro {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sui-intro h1 {
  color: white;
  font-size: 2rem;
}

.sui-intro-anim {
  max-width: 550px;
  margin-left: 60px;
}

@media screen and (max-width: 768px) {
  .sui-banner {
    padding-top: 50px;
    height: 550px;
  }
  .sui-intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sui-intro-anim {
    max-width: 450px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 500px) {
  .sui-banner {
    height: 110vw;
  }
}

@media screen and (max-width: 417px) {
  .sui-intro-anim {
    margin-top: 20px;
  }
  .sui-banner {
    height: 127vw;
  }
}

#suiBreakdown {
  width: 300px;
}

.sui-style {
  margin-bottom: 200px !important;
}

#lowfis {
  width: 510px;
}

#hfLanding {
  top: 0;
  left: 0;
  width: 50%;
}

#hfLogin {
  top: 7%;
  right: 10%;
  width: 25%;
}

#hfSignup {
  top: 20%;
  right: 10%;
  width: 25%;
}

#hfHome {
  top: 41%;
  right: 0;
  width: 64%;
}

#hfCreate {
  width: 71%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -2%;
}

@media screen and (max-width: 992px) {
  #hfLogin, #hfSignup {
    right: 5%;
  }
}

.proj-section-header {
  border-bottom: 1px solid #D5D5D5;
  padding-bottom: 10px;
}

.img-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  margin-bottom: 100px;
}

.img-split img {
  width: 49%;
}

.proj-hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.proj-hero img {
  width: 400px;
}

.proj-hero p {
  margin-top: 30px;
  color: #343434;
}

@media screen and (max-width: 768px) {
  .proj-hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .proj-hero img {
    zoom: 0.7;
  }
}

.breakdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 100px;
}

.breakdown p {
  font-size: 1.1rem;
  line-height: 2.125rem;
}

@media screen and (min-width: 768px) {
  .breakdown {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .breakdown-1 {
    white-space: nowrap;
  }
  .breakdown-2 {
    margin-left: 70px;
  }
}

.banner {
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 200px;
  position: relative;
}

.banner-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.banner-intro img, .banner-intro h2 {
  z-index: 2;
}

.logo-breakdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}

.styleguide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.styleguide-container img:nth-child(1) {
  width: 41%;
}

.styleguide-container img:nth-child(2) {
  width: 53%;
}

@media screen and (max-width: 768px) {
  .styleguide-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .styleguide-container img:nth-child(1) {
    width: 450px;
    margin-bottom: 20px;
  }
  .styleguide-container img:nth-child(2) {
    width: 450px;
  }
}

.text-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 200px;
}

.text-img p {
  font-size: 1.1rem;
  margin: 0;
  width: 50%;
  min-width: 300px;
}

.text-img img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 100px;
  margin-top: 8px;
}

@media screen and (max-width: 768px) {
  .text-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-img p {
    width: 100%;
    margin-bottom: 50px;
  }
  .text-img img {
    margin-left: 0;
  }
}

.slant-container {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  margin-bottom: 200px;
  padding-bottom: 100px;
}

.slant-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
  background-color: #F8F8F8;
  z-index: -1;
}

.demo-section {
  -webkit-clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);
  background-color: #F2F2F2;
  padding: 6rem 0;
}

.demo-section h2 {
  color: darkgray;
  margin-bottom: 20px;
}

.demo-section video {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.deliverables-container {
  padding-top: 70px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow: hidden;
}

#ngBannerText {
  color: white;
}

#ngIntro {
  width: 300px;
}

.ng-breakdown {
  margin-bottom: 200px;
}

#ngBreakdown {
  width: 500px;
}

#ngProto {
  width: 510px;
}

.mockup-container {
  margin-bottom: 200px;
}

@media screen and (max-width: 768px) {
  .mockup-container {
    margin-bottom: 100px;
  }
}

.visit-site {
  height: 550px;
  width: 100%;
  background-color: #F2F2F2;
  overflow: hidden;
  position: relative;
  margin-bottom: 80px;
}

#ngDemo {
  width: 100%;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.05;
}

.visit-btn {
  position: absolute;
  margin: auto auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  color: lightgray;
  background-color: #181818;
  width: 180px;
}

.visit-container {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  margin-top: 200px;
  margin-bottom: 200px;
}

.visit-slant-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  background-color: #F8F8F8;
  z-index: -1;
}

.visit-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visit-mac-wrapper {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-width: 900px;
  position: relative;
  margin-right: -80px;
  margin-top: -50px;
}

.visit-mac-screen {
  width: 75%;
  height: 76%;
  background-color: #eaeded;
  position: absolute;
  margin: auto auto;
  top: -2vw;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .visit-container {
    margin-top: 100px;
  }
  .visit-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 100px;
  }
  .visit-mac-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 600px;
    margin-right: 0;
    margin-top: 50px;
  }
}

.proj-section-header {
  border-bottom: 1px solid #D5D5D5;
  padding-bottom: 10px;
}

.img-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  margin-bottom: 100px;
}

.img-split img {
  width: 49%;
}

.proj-hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.proj-hero img {
  width: 400px;
}

.proj-hero p {
  margin-top: 30px;
  color: #343434;
}

@media screen and (max-width: 768px) {
  .proj-hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .proj-hero img {
    zoom: 0.7;
  }
}

.breakdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 100px;
}

.breakdown p {
  font-size: 1.1rem;
  line-height: 2.125rem;
}

@media screen and (min-width: 768px) {
  .breakdown {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .breakdown-1 {
    white-space: nowrap;
  }
  .breakdown-2 {
    margin-left: 70px;
  }
}

.banner {
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 200px;
  position: relative;
}

.banner-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.banner-intro img, .banner-intro h2 {
  z-index: 2;
}

.logo-breakdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}

.styleguide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.styleguide-container img:nth-child(1) {
  width: 41%;
}

.styleguide-container img:nth-child(2) {
  width: 53%;
}

@media screen and (max-width: 768px) {
  .styleguide-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .styleguide-container img:nth-child(1) {
    width: 450px;
    margin-bottom: 20px;
  }
  .styleguide-container img:nth-child(2) {
    width: 450px;
  }
}

.text-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 200px;
}

.text-img p {
  font-size: 1.1rem;
  margin: 0;
  width: 50%;
  min-width: 300px;
}

.text-img img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 100px;
  margin-top: 8px;
}

@media screen and (max-width: 768px) {
  .text-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-img p {
    width: 100%;
    margin-bottom: 50px;
  }
  .text-img img {
    margin-left: 0;
  }
}

.slant-container {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  margin-bottom: 200px;
  padding-bottom: 100px;
}

.slant-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
  background-color: #F8F8F8;
  z-index: -1;
}

.demo-section {
  -webkit-clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);
  background-color: #F2F2F2;
  padding: 6rem 0;
}

.demo-section h2 {
  color: darkgray;
  margin-bottom: 20px;
}

.demo-section video {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.deliverables-container {
  padding-top: 70px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow: hidden;
}

#pepiSpace {
  margin-bottom: -8px;
}

#pepiBreakdown {
  margin-bottom: 200px;
}

.pepi-img-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  margin-bottom: 200px;
}

.pepi-img-split img:nth-child(1) {
  width: 260px;
}

.pepi-img-split img:nth-child(2) {
  width: 244px;
}

.pepi-img-split img:nth-child(3) {
  width: 300px;
}

@media screen and (max-width: 992px) {
  .pepi-img-split {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .pepi-img-split img {
    margin-bottom: 50px;
  }
}

.pepi-brand-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.pepi-brand-container .suit {
  width: 120px;
}

.pepi-brand-container div {
  width: 350px;
  margin: 0 80px;
}

.pepi-brand-container .hexColor {
  width: 120px;
}

.pepi-brand-container .mobile-hex {
  display: none;
}

@media screen and (max-width: 768px) {
  .desktop-hex {
    display: none;
  }
  .pepi-brand-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .pepi-brand-container div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 0 0 35px;
  }
  .pepi-brand-container .mobile-hex {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .pepi-brand-container .suit {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: -85px;
  }
  .pepi-brand-container div {
    padding-right: 40px;
    margin: 0;
  }
}

.pepi-banner {
  background-position: center bottom;
}

.pepi-grey-section {
  overflow: hidden;
}

.proj-section-header {
  border-bottom: 1px solid #D5D5D5;
  padding-bottom: 10px;
}

.img-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  margin-bottom: 100px;
}

.img-split img {
  width: 49%;
}

.proj-hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.proj-hero img {
  width: 400px;
}

.proj-hero p {
  margin-top: 30px;
  color: #343434;
}

@media screen and (max-width: 768px) {
  .proj-hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .proj-hero img {
    zoom: 0.7;
  }
}

.breakdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 100px;
}

.breakdown p {
  font-size: 1.1rem;
  line-height: 2.125rem;
}

@media screen and (min-width: 768px) {
  .breakdown {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .breakdown-1 {
    white-space: nowrap;
  }
  .breakdown-2 {
    margin-left: 70px;
  }
}

.banner {
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 200px;
  position: relative;
}

.banner-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.banner-intro img, .banner-intro h2 {
  z-index: 2;
}

.logo-breakdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}

.styleguide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.styleguide-container img:nth-child(1) {
  width: 41%;
}

.styleguide-container img:nth-child(2) {
  width: 53%;
}

@media screen and (max-width: 768px) {
  .styleguide-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .styleguide-container img:nth-child(1) {
    width: 450px;
    margin-bottom: 20px;
  }
  .styleguide-container img:nth-child(2) {
    width: 450px;
  }
}

.text-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 200px;
}

.text-img p {
  font-size: 1.1rem;
  margin: 0;
  width: 50%;
  min-width: 300px;
}

.text-img img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 100px;
  margin-top: 8px;
}

@media screen and (max-width: 768px) {
  .text-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-img p {
    width: 100%;
    margin-bottom: 50px;
  }
  .text-img img {
    margin-left: 0;
  }
}

.slant-container {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  margin-bottom: 200px;
  padding-bottom: 100px;
}

.slant-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
  background-color: #F8F8F8;
  z-index: -1;
}

.demo-section {
  -webkit-clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);
  background-color: #F2F2F2;
  padding: 6rem 0;
}

.demo-section h2 {
  color: darkgray;
  margin-bottom: 20px;
}

.demo-section video {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.deliverables-container {
  padding-top: 70px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow: hidden;
}

#hometohome {
  width: 400px;
}

#maryrevsIcon {
  width: 300px;
}

#maryrevsBreakdown {
  margin-top: 80px;
  width: 250px;
}

.pink-bg {
  margin-bottom: 100px;
  padding-bottom: 50px;
  background-color: #FFDBEF;
}

.ig-post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#maryrevsIg1 {
  width: 378px;
  margin-left: -80px;
}

#maryrevsIg2 {
  width: 378px;
  margin-bottom: -200px;
}

@media screen and (max-width: 768px) {
  .ig-post-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: -50px;
  }
  #maryrevsIg1 {
    width: 55%;
  }
  #maryrevsIg2 {
    width: 55%;
  }
}

@media screen and (max-width: 500px) {
  .ig-post-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #maryrevsIg1 {
    width: 100%;
    margin-left: 0px;
  }
  #maryrevsIg2 {
    width: 100%;
    margin-bottom: 0px;
  }
}

.proj-section-header {
  border-bottom: 1px solid #D5D5D5;
  padding-bottom: 10px;
}

.img-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  margin-bottom: 100px;
}

.img-split img {
  width: 49%;
}

.proj-hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.proj-hero img {
  width: 400px;
}

.proj-hero p {
  margin-top: 30px;
  color: #343434;
}

@media screen and (max-width: 768px) {
  .proj-hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .proj-hero img {
    zoom: 0.7;
  }
}

.breakdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 100px;
}

.breakdown p {
  font-size: 1.1rem;
  line-height: 2.125rem;
}

@media screen and (min-width: 768px) {
  .breakdown {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .breakdown-1 {
    white-space: nowrap;
  }
  .breakdown-2 {
    margin-left: 70px;
  }
}

.banner {
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 200px;
  position: relative;
}

.banner-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.banner-intro img, .banner-intro h2 {
  z-index: 2;
}

.logo-breakdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}

.styleguide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.styleguide-container img:nth-child(1) {
  width: 41%;
}

.styleguide-container img:nth-child(2) {
  width: 53%;
}

@media screen and (max-width: 768px) {
  .styleguide-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .styleguide-container img:nth-child(1) {
    width: 450px;
    margin-bottom: 20px;
  }
  .styleguide-container img:nth-child(2) {
    width: 450px;
  }
}

.text-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 200px;
}

.text-img p {
  font-size: 1.1rem;
  margin: 0;
  width: 50%;
  min-width: 300px;
}

.text-img img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 100px;
  margin-top: 8px;
}

@media screen and (max-width: 768px) {
  .text-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-img p {
    width: 100%;
    margin-bottom: 50px;
  }
  .text-img img {
    margin-left: 0;
  }
}

.slant-container {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  margin-bottom: 200px;
  padding-bottom: 100px;
}

.slant-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
  background-color: #F8F8F8;
  z-index: -1;
}

.demo-section {
  -webkit-clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);
  background-color: #F2F2F2;
  padding: 6rem 0;
}

.demo-section h2 {
  color: darkgray;
  margin-bottom: 20px;
}

.demo-section video {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.deliverables-container {
  padding-top: 70px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow: hidden;
}

#jazelbitesIcon {
  width: 200px;
}

#jazelbitesBreakdown {
  margin-left: -20px;
  margin-top: 60px;
  width: 150px;
}

.red-bg {
  margin-bottom: 100px;
  padding-bottom: 10px;
  background-color: #FF5D5D;
}

.ipad-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 50px;
}

.ipad-wrapper {
  position: relative;
  margin-top: -80px;
}

#jbIpad {
  width: 650px;
}

.jazelbites-anim {
  position: absolute;
  margin: auto auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.bc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.bc-container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jazelbites-card-right {
  width: 280px;
  margin-left: 20px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.jazelbites-card-left {
  width: 280px;
  margin-right: 20px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

@media screen and (max-width: 768px) {
  .ipad-section {
    margin-bottom: 150px;
  }
  .ipad-wrapper {
    zoom: 0.7;
  }
}

@media screen and (max-width: 650px) {
  .bc-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .bc-container-right {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .jazelbites-card-right {
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .jazelbites-card-left {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .bc-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#sdLogo {
  width: 150px;
}

#sdIcon {
  width: 180px;
}

#sdBreakdown {
  margin-top: 50px;
  width: 250px;
}

.event-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.event-container {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.poster-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.front-poster {
  margin-right: 15px;
}

.event-poster {
  width: 40%;
}

#jvIntro {
  width: 200px;
}

#jvLogo {
  width: 350px;
}

#jvBreakdown {
  margin-top: 50px;
  width: 200px;
}

.half-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.half-split img {
  width: 48%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03), 0 2px 4px rgba(0, 0, 0, 0.03), 0 4px 8px rgba(0, 0, 0, 0.03), 0 8px 16px rgba(0, 0, 0, 0.03), 0 16px 32px rgba(0, 0, 0, 0.03), 0 32px 64px rgba(0, 0, 0, 0.03);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03), 0 2px 4px rgba(0, 0, 0, 0.03), 0 4px 8px rgba(0, 0, 0, 0.03), 0 8px 16px rgba(0, 0, 0, 0.03), 0 16px 32px rgba(0, 0, 0, 0.03), 0 32px 64px rgba(0, 0, 0, 0.03);
}

@media screen and (max-width: 992px) {
  .half-split {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .half-split img {
    width: 90%;
    margin-bottom: 30px;
  }
}

#cgLogo {
  width: 250px;
}

#cgIcon {
  width: 250px;
}

#cgBreak {
  margin-top: 70px;
  width: 250px;
}

#cgBreakdown {
  margin-top: 80px;
  width: 180px;
}

#cgProcess {
  margin-top: 100px;
  margin-bottom: 150px;
}

#cgName {
  width: 400px;
}

.cg-banner {
  background-size: cover;
}

.phone-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .phone-container {
    zoom: 0.7;
    margin-bottom: 200px;
  }
}

.phone-wrapper {
  position: relative;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.phone-wrapper-right {
  margin-right: -20px;
}

.phone-wrapper-left {
  margin-left: -20px;
}

.phone-shell {
  width: 350px;
  margin-top: -100px;
}

.ig-slide {
  max-width: none;
  width: 937px;
  width: 940px;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: -71px;
  bottom: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  z-index: -1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.ig-slide-left {
  left: -605px;
}

.animate-left {
  -webkit-animation: igslideL 1.8s linear;
          animation: igslideL 1.8s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.ig-slide-right {
  right: -605px;
}

.animate-right {
  -webkit-animation: igslideR 1.8s linear;
          animation: igslideR 1.8s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes igslideL {
  0% {
    left: -608px;
  }
  33% {
    left: -293px;
  }
  66% {
    left: -293px;
  }
  100% {
    left: 19px;
  }
}

@keyframes igslideL {
  0% {
    left: -608px;
  }
  33% {
    left: -293px;
  }
  66% {
    left: -293px;
  }
  100% {
    left: 19px;
  }
}

@-webkit-keyframes igslideR {
  0% {
    right: -608px;
  }
  33% {
    right: -293px;
  }
  66% {
    right: -293px;
  }
  100% {
    right: 19px;
  }
}

@keyframes igslideR {
  0% {
    right: -608px;
  }
  33% {
    right: -293px;
  }
  66% {
    right: -293px;
  }
  100% {
    right: 19px;
  }
}

@-webkit-keyframes igslideRespL {
  0% {
    left: -173%;
  }
  33% {
    left: -84%;
  }
  66% {
    left: -84%;
  }
  100% {
    left: 5.5%;
  }
}

@keyframes igslideRespL {
  0% {
    left: -173%;
  }
  33% {
    left: -84%;
  }
  66% {
    left: -84%;
  }
  100% {
    left: 5.5%;
  }
}

@-webkit-keyframes igslideRespR {
  0% {
    right: -173%;
  }
  33% {
    right: -84%;
  }
  66% {
    right: -84%;
  }
  100% {
    right: 5.5%;
  }
}

@keyframes igslideRespR {
  0% {
    right: -173%;
  }
  33% {
    right: -84%;
  }
  66% {
    right: -84%;
  }
  100% {
    right: 5.5%;
  }
}

@media screen and (max-width: 500px) {
  .phone-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 415px) {
  .ig-slide-left {
    max-width: 268%;
    top: -19.5%;
    left: -173%;
  }
  .animate-left {
    -webkit-animation: igslideRespL 2s linear;
            animation: igslideRespL 2s linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .ig-slide-right {
    max-width: 268%;
    top: -19.5%;
    right: -173%;
  }
  .animate-right {
    -webkit-animation: igslideRespR 2s linear;
            animation: igslideRespR 2s linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .phone-shell {
    width: 350px;
    margin-top: -40%;
  }
}

img, video {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.light-header {
  margin: 50px 0;
  color: #7E7E7E;
}

.light-list {
  display: block;
  margin-top: 0;
  margin-bottom: 80px;
}

.white-gradient {
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  position: absolute;
  z-index: 1;
}

.black-gradient {
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  position: absolute;
  z-index: 1;
}

.grey-bg {
  background-color: #F8F8F8;
  margin-bottom: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.grey-btn {
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  color: lightgray;
  background-color: #181818;
  width: 180px;
}
/*# sourceMappingURL=projects.css.map */