$lightGreyBg: #F8F8F8;
$lightGreyTxt: #7E7E7E;
$marginBottomSm: 50px;
$marginBottomLg: 100px;
$marginBottomXLg: 200px;

@import "./pepi";
@import "./maryrevs";
@import "./jazelbites";
@import "./phone";


img, video {
    max-width: 100%;
}

.light-header {
    margin: 50px 0;
    color: $lightGreyTxt;
}

.light-list {
    display: block;
    margin-top: 0;
    margin-bottom: 150px;
}

.white-gradient {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(255,255,255,0.7), rgba(255,0,0,0));
    position: absolute;
    z-index: 1;
}

.grey-bg {
    background-color: $lightGreyBg;
    margin-bottom: $marginBottomXLg;
    padding-top: 50px;
    padding-bottom: 50px;
}