body {
  margin: 0;

  /* put default font here */
  font-family: 'Source Sans Pro', sans-serif;

  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
}